package nitro

import (
        "fmt"
        "strconv"
        "strings"
)

type {{$.Name|name}} struct {
        {{range $field, $type := $.Schema.Fields -}}
        {{if eq $type "double" -}}
        {{$field|title}} {{$type|go_type}} `json:"{{$field}},string,omitempty"`
        {{else -}}
        {{$field|title}} {{$type|go_type}} `json:"{{$field}},omitempty"`
        {{end -}}
        {{end -}}
}

type {{$.Name|name}}Key struct {
        {{range $field := $.Schema.Key -}}
        {{$field|title}} {{(index $.Schema.Fields $field)|go_type}}
        {{end -}}
}

type get_{{$.Name}} struct {
        Results []{{$.Name|name}} `json:"{{$.Name}}"`
}

type add_{{$.Name}}_payload struct {
        {{$.Name}} {{$.Name|name}}
}

func {{$.Name}}_key_to_id_args (key {{$.Name|name}}Key) (string, string) {
        var _ = strconv.Itoa
        var args []string

        {{range $field := $.Schema.Key -}}
        {{if eq (index $.Schema.Fields $field) "int" -}}
        args = append(args, "{{$field}}:" + strconv.Itoa(key.{{$field|title}}))
        {{else -}}
        args = append(args, "{{$field}}:" + key.{{$field|title}})
        {{end -}}
        {{end}}

        return "", strings.Join(args, ",")
}

// TODO : Exists
// TODO : Count

func (c *NitroClient) Add{{$.Name|name}} (binding {{$.Name|name}}) error {
        payload := add_{{$.Name}}_payload {
                binding,
        }

        return c.put("{{$.Name}}", "", "", "", payload)
}

func (c *NitroClient) List{{$.Name|name}} (key {{$.Name|name}}Key) ([]{{$.Name|name}}, error) {
        var results get_{{$.Name}}

        id, args := {{$.Name}}_key_to_id_args(key)
        
	if err := c.get("{{$.Name}}", id, "", args, &results); err != nil {
                return nil, err
        } else {
                return results.Results, err
        }
}

func (c *NitroClient) BulkList{{$.Name|name}} () ([]{{$.Name|name}}, error) {
        var results get_{{$.Name}}
        
	if err := c.get("{{$.Name}}", "", "", "", &results); err != nil {
                return nil, err
        } else {
                return results.Results, err
        }
}

func (c *NitroClient) Get{{$.Name|name}} (key {{$.Name|name}}Key) (*{{$.Name|name}}, error) {
        var results get_{{$.Name}}
        
        id, args := {{$.Name}}_key_to_id_args(key)

	if err := c.get("{{$.Name}}", id, "", args, &results); err != nil {
                return nil, err
        } else {
                if len(results.Results) > 1 {
                        return nil, fmt.Errorf("More than one {{$.Name}} element found")
                } else if len(results.Results) < 1 {
                        // TODO
                        // return nil, fmt.Errorf("{{$.Name}} element not found")
                        return nil, nil
                }

                return &results.Results[0], nil
        }
}

func (c *NitroClient) Delete{{$.Name|name}} (key {{$.Name|name}}Key) error {
        id, args := {{$.Name}}_key_to_id_args(key)

        return c.delete("{{$.Name}}", id, "", args)
}
