package nitro

import (
	"github.com/doubret/citrix-netscaler-nitro-go-client/nitro"
)

func setup_{{$.Name}}() *nitro.{{$.Name|name}} {
	//reource := nitro.{{$.Name|name}} {
		//{{$.Schema.Key.Name|title}}: "{{$.Name}}",
		{{range $field, $type := $.Schema.Fields -}}
		//{{$field|title}}: {{$type}},
		{{end -}}
	//}
	return nil
}
